{% extends '_templates/base.njk' %}

{% block page_title %}Capt. True Despair's Ship's Log{% endblock %}

{% block page_description %}Captain True Despair updates this blog daily as she expereinces new adventures of the glorious sea.{% endblock %}

{% block content %}
<div class="container">
  <div class="row justify-content-center">
    <div class="col-md-8">
     <h1>A pirate's life is for me</h1>
      <p>Hempen halter mizzenmast deadlights gaff pillage starboard jack lee Blimey draught. Man-of-war piracy black jack sutler Yellow Jack keel provost overhaul execution dock rigging. Log quarterdeck dead men tell no tales red ensign gibbet grog blossom bilge Nelsons folly code of conduct gunwalls.</p>
      {% for post in blog.blogs %}
      <h2><a href="blog/{{ post.slug }}.html">{{ post.headline }}</a></h2>
      <h5>{{ post.date }}</h5>
      <hr>
      {% endfor %}
    </div>
  </div>
</div>
{% endblock %}
